
.list-unlisted{
    list-style: none;
    list-style-position: initial;
}
.searchBar {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#searchQueryInput {
    width: 85%;
    height: 1.7rem;
    background: #f5f5f5;
    outline: none;
    border: none;
    border-radius: 1.625rem;
    padding: 0 3.0rem 0 1.0rem;
    font-size: 0.7rem;
}
