
<h2>{{registerForm.get('firstName')?.errors|json}}</h2>

<h2>Register Now</h2>

<div class="w-75 mx-auto">
    <form (ngSubmit)="submitRegister(registerForm)" [formGroup]="registerForm">

        <label for="firstName">First Name</label>
        <input type="text" formControlName="firstName" class="form-control" id="firstName" placeholder="First Name">
        <div *ngIf="registerForm.get('firstName')?.errors !== null && registerForm.get('firstName')?.dirty" class="alert alert-danger my-2">
            <p *ngIf="registerForm.get('firstName')?.errors?.['required']" class="mb-0">First Name is Required</p>
            <p *ngIf="registerForm.get('firstName')?.errors?.['minlength']" class="mb-0">First Name minLength is 3</p>
            <p *ngIf="registerForm.get('firstName')?.errors?.['maxlength']" class="mb-0">First Name maxLength is 8</p>
        </div>


        <label for="lastName">Last Name</label>
        <input type="text" formControlName="lastName" class="form-control" id="lastName" placeholder="Last Name">
        <div *ngIf="registerForm.get('lastName')?.errors !== null && registerForm.get('lastName')?.dirty" class="alert alert-danger my-2">
            <p *ngIf="registerForm.get('lastName')?.errors?.['required']" class="mb-0">Last Name is Required</p>
            <p *ngIf="registerForm.get('lastName')?.errors?.['min']" class="mb-0">Last Name minLength is 3</p>
            <p *ngIf="registerForm.get('lastName')?.errors?.['max']" class="mb-0">Last Name maxLength is 8</p>
        </div>


        <label for="age">Age</label>
        <input type="number" formControlName="age" class="form-control" id="age" placeholder="Age">
        <div *ngIf="registerForm.get('age')?.errors !== null && registerForm.get('age')?.dirty" class="alert alert-danger my-2">
            <p *ngIf="registerForm.get('age')?.errors?.['required']" class="mb-0">Age is Required</p>
            <p *ngIf="registerForm.get('age')?.errors?.['min']" class="mb-0">Age minValue is 16</p>
            <p *ngIf="registerForm.get('age')?.errors?.['max']" class="mb-0">Age maxValue is 80</p>
        </div>


        <label for="email">E-mail</label>
        <input type="email" formControlName="email" class="form-control" id="email" placeholder="E-mail">
        <div *ngIf="registerForm.get('email')?.errors !== null && registerForm.get('email')?.dirty" class="alert alert-danger my-2">
            <p *ngIf="registerForm.get('email')?.errors?.['required']" class="mb-0">E-mail is Required</p>
            <p *ngIf="registerForm.get('email')?.errors?.['email']" class="mb-0">E-mail Invalid</p>
        </div>


        <label for="password">Password</label>
        <input type="password" formControlName="password" class="form-control" id="password" placeholder="Password">
        <div *ngIf="registerForm.get('password')?.errors !== null && registerForm.get('password')?.dirty" class="alert alert-danger my-2">
            <p *ngIf="registerForm.get('password')?.errors?.['required']" class="mb-0">Password is Required</p>
            <p *ngIf="registerForm.get('password')?.errors?.['pattern']" class="mb-0">Password must It contains at least 8 characters and at most 20 characters.
                It contains at least one digit.
                It contains at least one upper case alphabet.
                It contains at least one lower case alphabet.
                It contains at least one special character which includes !@#$%&*()-+=^.
                It doesn’t contain any white space</p>
        </div>

<button [disabled]="registerForm.invalid" type="submit" class="btn btn-info mt-2">Register</button>

        </form>
</div>
